* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif; 
    line-height: var(--space-2);
    color: var(--color-secondary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/* ==========================
   Header e Navegação
   ========================== */
header {
    grid-area: 1 / 1 / 2 / 2;
    background: rgba(74, 63, 53, 0.7);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); /* Para compatibilidade com Safari */
    color: var(--color-light);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

main {
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 70px;
}

footer {
    grid-area: 3 / 1 / 4 / 2;
}